body{
    background-color: black;
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    margin-top: 10px ;
    width: 75vw;
    position: relative;
    height: 95vh;
    border-radius: 7px;

}
.home{
    padding: 10px;
}
.home ul li{
    display: flex;
    gap: 15px;
    list-style: none;
    width: 20px;
    margin: 18px 17px;
    font-weight: bold;
    padding: 1px;
}
.library{
    padding: 10px;
    margin: 9px 0px;
}

.heading{
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width: 20px;
}
.library{
    min-height: 74vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 9px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;

}
.footer a {
    color: grey;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header > *{
    padding: 20px;
}
.spotify-playlist{
    /* border: 2px solid red; */
    padding: 11px;
    margin-top: 11px;
    margin-left: 13px;
}
h1{
    font-size: 25px;
}
.card-container{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 13px 8px;
    border-radius: 10px;
    max-height: 70vh;
    overflow-y: scroll;
    
}

.card{
    position: relative;
    /* border: 2px solid red; */
    background-color: #252525;
    width: 12vw;
    padding: 10px;
    border-radius: 10px;
    position: relative;


}
.card img{
    width :100%;
    object-fit: contain;
    border-radius: 10px;
}
.play {
    position: absolute;
    background-color: #2cb91f;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 100px;
    right: 20px;
    opacity: var(--a);
    transition: all 1s ease-out;
}
.button{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 9px;
    margin: 3px 27px; 
}
.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}
.playbar{
    margin: 10px 10px;
    position: absolute;
    bottom: 0;
    background-color: pink;
    width: 95%;
    padding: 7px ;
    border-radius: 7px;
}
.songbuttons{
    gap: 24px;
 
}