/* .border{
    border: 2px solid green;
    margin: 3px;
} */
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-dark-grey{
    background-color: #545454;
}
.bg-grey{
    background-color: #181818ad;
}
.invert{
    filter: invert(1);
}
.rounded{
    border-radius: 7px;
}